.scoreBoard{
    display: inline-block;
    position: relative;
    margin-top: 200px;
    color: brown;
}

.scoreBoard p{
  font-size: 40px;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute; 
  top: 50px; 
  /* left: 0;  */
  /* right: 30px; */
  width: 100%; 
  height: auto;
}
.boardContainer{
    display: inline-block;
    position: relative;
}

.boardContainer .board{
    top:0px;
    position: absolute;
    width: fit-content;
    outline: 2px solid rgb(134,154,189);
    background-color: #282c34;
    margin-left: 148px;
    margin-right: auto;
    margin-top: 100px;
}

.row{
    width: inherit;
    height: 40px;
}
.cell{
    width: 40px;
    height: 40px;
    outline: 1px solid rgb(134,154,189);
    display:inline-block;
}

.cell-green{
    background-color: green;
}
.cell-red{
    background-color: red;
}
.cell-purple{
    background-color: purple;
}